li	{
	display: inline-block;
}

.output {
    border: 1px solid #ffffff;
    width: 45%;
    margin: 15px;
}
table, td, th {
	border: 1px solid #ffffff;
}
td > a {
	width:200px;
	color: white;
	font-size: 16px;
}
th {
	font-size: 20px;
}

td {
  color: yellow;
}

.resultsDiv {
  background-color: black;
  padding: 10px;
  opacity: 0.75;
}

#sports {
  font-size: 85px; 
  font-family: 'Alfa Slab One';
}

.searchHead{
  font-family: 'Raleway', sans-serif;

}

#searchOptions {
  /*border-radius: 20px;*/
}

.form-control {
  border-radius: 20px;
}

/*.searchTerm {
  border-radius: 20px;
}does not work*/

#zipCode {
  /*border-radius: 20px;*/
}

#submit {
  border-color: #fff;
  color: #fff;
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 20px;
}

#resultsHead {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#seatgeek {
  color: #fff;
}

#bettingOdds {
  color: #fff
}

/*#aboutDiv {
  margin-top: -86px
  not currently needed, but might need later to space page
}*/

#aboutHead {
  font-family: 'Raleway', sans-serif;
}

#aboutText {
  text-align: justify; 
  font-family: 'Raleway', sans-serif;
}

#githubBtn {
  border-color: #9663D3; 
  border-radius: 25px; 
  color: #000000;
  background-color: #000000;
}

#buttonDesign {
  color: #9663D3;
}

#githubText {
  color: #9663D3
}

#footerText {
  font-family: 'Raleway', sans-serif; font-size: 12px;
}

input { 
    text-align: center; 
    /*width: 3px;*/
}

select {
  width: 400px; 
  text-align-last:center; 
  -webkit-appearance: none;
  -webkit-border-radius: 20px;
}

/*
#back-to-top {
  color: white;
  background-color: black;
  border-color: black;
  /*text-align: center;
  margin: 0, auto;
}*/

label {
  font-size: 24px;
}

